/*

All styles for audio player

<div id="player-progressbar">
    <div class="progress">
        <div id="bar"></div>
    </div>
    <button>Run bar</button>
</div>

*/

@import "variables";
@import "screens";
@import "progressbar";

.player-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 1.5rem;

    label[for="player-progressbar"] {
        margin: auto;
    }
}

.player-controls {
    margin: 0 auto;
    width: 40%;
    @include lg { width: 60%; }
    @include md { width: 75%; }
    @include sm { width: 90%; }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
